.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-paragraph {
  color: #fc0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-heading {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text-paragrah {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-input-search {
  display: flex;
}

.form-input-search input {
  padding: 20px 30px;
  width: 70%;
  border-radius: 15px;
  background: #fc0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
}

.form-input-search input::placeholder {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.2px;
}
.form-input-search button {
  border: none;
  background: transparent;
  margin-left: -50px;
  cursor: pointer;
}

.hero-img-home {
  height: 400px;
  width: auto;
  margin-left: 0px;
}

.hero-text-span {
  color: #b60000;
}

.bg-hero {
  background: linear-gradient(219deg, #fc0 0%, #fff 65.33%) !important;
}
